

@font-face {
    font-family: Neou;
    src: url('https://github.com/berto999/berto999.github.io/blob/master/Neou-Thin.ttf')  format('truetype');
}

@font-face {	
	font-family: RobotoCondensed;
    src: url('https://github.com/berto999/berto999.github.io/blob/master/roboto-condensed.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: BasicTitle;
    src: url(https://github.com/berto999/berto999.github.io/blob/master/basictitlefont.ttf)  format('truetype');
}

@font-face {
	font-family: Roboto;
	src: url('Roboto-Light.ttf');
}

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

body {
	background-image: url('bg.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-color: #FFF;
	background-size: 100%;
	width: 1000px;
	flex: 1;
	margin: auto;
}

.shadoww {
	border-radius: 2px;
    box-shadow: 0 -1px 3px #222;
}

#header {
	display: block;
	padding-top: 20px;
	min-height: 240px;
	font-family: Neou;
	text-decoration: none;
}

#hist {
	text-indent: 50px;
	margin: auto;
	white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: normal;
    text-align: justify;
}

#logo {
	display: inline;
	float: left;
	padding-right: 100px;
	margin-right: 60px;
	margin-left: 100px;
	border-right: thin solid #000;
	box-shadow: 6px 0 3px -6px rgba(0, 0, 0, 0.5);

}

#menu {
	display: inline;
	float: left;
	padding-top: 10px;
	font-family: inherit;
	font-size: 32;
}

li {
	list-style: none;
	font-weight: bold;
}

#socialbuttons {
	margin-top: 5px;
}

#socialbuttons:a {
	margin-top: 5px;
}

#mainbody {
	display: block;
	float: left;
	height: auto;
	font-family: Roboto;
	font-size: 16px;
}

h4 {
	font-family: BasicTitle;
	font-size: 48px;
	font-weight: lighter;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: none;
	color: #008623;
}

h3 {
	font-family: Neou;
	font-weight: lighter;
	font-size: 32px;
}
